
services:
  backend: 
    build: ./Backend
    ports:
      - "8000:8000"
    env_file:
      - ./Backend/.env
    restart: unless-stopped
    networks:
      - quiz_ai_network
    volumes: 
      - type: bind
        source: ./Backend/ca.pem
        target: /QuizAI/Backend/ca.pem
  frontend:
    build: ./Frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - quiz_ai_network


networks:
  quiz_ai_network:
    driver: bridge