# dopplersecret-app-env.yaml
apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: app-env-sync
  namespace: doppler-operator-system
spec:
  tokenSecret:
    name: doppler-token-secret
    namespace: doppler-operator-system
  project: quizai-secrets
  config:  dev
  managedSecret:
    name: app-env
    namespace: default
    type: Opaque
  secrets:
    - MYSQL_HOST
    - MYSQL_PORT
    - MYSQL_USER
    - MYSQL_PASSWORD
    - GROQ_API_KEY
    - MYSQL_DATABASE
---
# dopplersecret-mysql-ca.yaml
apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: mysql-ca-sync
  namespace: doppler-operator-system
spec:
  tokenSecret:
    name: doppler-token-secret
    namespace: doppler-operator-system
  project: quizai-secrets
  config:  dev
  managedSecret:
    name: mysql-ca
    namespace: default
    type: Opaque
  secrets:
    - MYSQL_SSL_CA
  processors:
    MYSQL_SSL_CA:
      type: plain
      asName: ca.pem

