name: Push Image
on: 
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Login to Docker Hub
              run: echo "${{ secrets.DOCKER_ACCSES_KEY }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
            
            - name: Build image backend
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/quiz-ai-backend:latest ./Backend
            
            - name: Build image frontend
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/quiz-ai-frontend:latest ./Frontend

            - name: Push image backend
              run: docker push ${{ secrets.DOCKER_USERNAME }}/quiz-ai-backend:latest
            
            - name: Push image frontend
              run: docker push ${{ secrets.DOCKER_USERNAME }}/quiz-ai-frontend:latest